<h1>Listing tracks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Artist</th>
    <th>Track url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tracks.each do |track| %>
  <tr>
    <td><%= track.name %></td>
    <td><%= track.artist %></td>
    <td><%= track.track_url %></td>
    <td><%= link_to 'Show', track %></td>
    <td><%= link_to 'Edit', edit_track_path(track) %></td>
    <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Track', new_track_path %>


 pry(#<TracksController>)> @yummlyrecipe['matches'][0]['smallImageUrls']
=> ["http://i.yummly.com/Baked-pesto-chicken-309449-273902.s.jpg"]
[46] pry(#<TracksController>)> @yummlyrecipe['matches'][0]['ingredients']
=> ["low-fat mozzarella cheese", "breast", "pesto", "salt", "ground black pepper"]
[47] pry(#<TracksController>)> @yummlyrecipe['matches'][0]['recipeName']
=> "Baked Pesto Chicken"
[48] pry(#<TracksController>)> 
