<html style = "background-image:url('http://www.matthewsheartsofhope.org/images/blankBackground.jpg')";>

    <p id="notice"><%= notice %></p>

    <div class = "name">
          
            <br><h3><%=@recipe.name%></h3>
            Method:
            </br><%=@recipe.method%>
          
    </div>

     <div class = "ingredient">
        <h3>Ingredients:</h3>
        <% @recipe.ingredients.each do |x| %>
          <table>
             <tr> <%= x.name %> </tr>
          </table>
        <%end%>
    </div>

    </div class = "track">
        <% @all_tracks_recipe.each do |track| %>
        <br><%= track.sound_cloud_player.html_safe %></br>
        <% end %>
    </div>

  <div>
      <!-- <img src = "<%=@recipe.image_url%>"%>" -->
  </div>

  <div class = "return2">
      <h4><%= link_to 'Back', category_recipes_path(@category)%></h4>
  </div>


    
    <!-- <div>
      <b>Method:</b>
      <%#= @recipe.method %>
      <img src="<%#=@recipe.image_url%>"/>
    </div> -->


    <div>
<%#= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%#= link_to 'Back', recipes_path %>
</div>
</html>
